@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
}
.main3{
    background-color: black;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window3{
    position: absolute;
    width: 640px;
    height: 264px;
    background: #FFFFFF;
    border-radius: 4px;
}

.autorization{
    justify-content: center;
    padding: 22px 16px 0 16px;
}

.autorization1{
    width: 256px;
    height: 24px;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-left: 175px;
}

.number{
    width: 198px;
    height: 16px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 7px;
}
.zero1::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-top: -10px;
    margin-left: -12px;

}
.zero input{
    width: 576px;
    height: 16px;
    border: 0.5px solid #DADADA;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: -12px;
}
button{
    position: absolute;
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    margin-left: 30%;
}

a{
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/*confirmation*/



.main4{
    background-color: black;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window4{
    position: absolute;
    width: 640px;
    height: 328px;
    background: #FFFFFF;
    border-radius: 4px;
}

.confirm1{
    width: 248px;
    height: 24px;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-left: 30%;
    margin-top: 40px;
}
.sms{
    width: 256px;
    height: 32px;
    font-family: 'Sora', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #A9A9A9;
    margin-left: 30%;
    margin-top: -12px;
}
.numbers{
    position: relative;
    display: flex;
    justify-content: center;
}

.numbers input{
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 0.5px solid #DADADA;
    border-radius: 12px;
    margin: 5px;
    font-weight: bold;
    margin-top: 22px;
}
input::placeholder{
    position: absolute;
    color: black;
    padding: 8px 16px;
    font-size: 24px;
}
button{
    position: absolute;
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    margin-left: 20%;
    margin-top: 30px;
}

a{
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    width: 352px;
    height: 48px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}


